$font-size-base: 14px !default;
// Drop Box
table {
    border-collapse: collapse;
}

.percent {
    position: absolute;
    width: 100%;
    height: 14px;
    z-index: 1;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.progress-bar {
    width: 100%;
    height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}

.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.dropbox {
    width: 100%;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.dropbox span {
    margin-top: 0.9em;
    display: block;
}

.dropbox.not-available {
    background-color: #F88;
}

.dropbox.over {
    background-color: #bfb;
}

.debug {
    background-color: red;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    text-align: center;
    padding: 50px 10px;
}

.markSelected {
    background-color: #fff8dc !important;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav-pills > li.active > a {
    background-color: #bbbbbb !important;
}

// Cimm2 Stylesheet
.cimm2-table-header {
    padding: 3px 0px;
    background-color: #1b63ab !important;
    color: #ffffff !important;
    margin: 3px auto;
}

.paginationclass{
    
    margin: 19px 28px;    
    }
    .paginationclass span{
        margin-left:15px;
        display:inline-block;
    }
    .pagination-controle li{
        display: inline-block !important;
    }
    .pagination-controle button{
        font-size: 12px;
        margin-top: -26px;
        cursor:pointer;
        
    }
    .pagination{
        margin:5px 12px !important;
    }
    .well{
        padding: 5px !important;
        margin: 0 !important;
    }
    .container{
        border: 1px solid #e3e3e3;
        padding: 0 30px;
        margin-top: 10px;
        border-radius: 5px;
        background: #fff;
    }
    body{
        background-color: #f5f5f5 !important;
    }


.nav > li > a:hover, .nav > li > a:focus{background-color:transparent;outline:none;}

.selectBxSevaList{
    height: 30px;
    border-radius: 5px;
    margin-left: 15px;
    width: 61%;    
}